


html, body{
    height: 100%;
    width: 100%;
    background: rgb(39, 10, 118); 
}

canvas {
    background-color: azure;
 }
.container{
    position: relative; 
    height:90vh; 
    width:100%;
}

.oculta{
    display: none;
}

.contenedor{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.firma, .enlace{
    color: azure;
}


.cuadro{
    background-color: rgb(71, 35, 170);
    border: 1px solid azure;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    color:azure;
    font-weight: bold;
    border-radius: 15px;

}















@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {

    canvas{
        width: 100%;
        
    }
    
    



}